applicationServer/target/
applicationServer/src/main/resources/
applicationServer/.idea
registrationServer/target/
registrationServer/src/main/resources/
registrationServer/.idea
webServer/target/
webServer/src/main/resources/web-server.yml
webServer/.idea
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.idea/