<div class="container-fluid">
    <form method="post" ng-show="item.canUserBid">
        <table class="item_table">
            <tr>
                <td>Product Name: </td>
                <td><input type="text" ng-model="newItem.itemName"/></td>
            </tr>
            <tr>
                <td>Product Description: </td>

                <td><textarea rows="4" cols="50" ng-model="newItem.desc"></textarea></td>
            </tr>
            <tr>
                <td>Cost: </td>
                <td><input type="number" ng-model="newItem.bidAmount" placeholder="Enter Bid Amount:"/></td>
            </tr>
            <tr>
                <td>Deadline: </td>
                <td><input type="datetime-local" ng-model="newItem.deadline" /></td>
            </tr>
        </table>

        <input type="submit" ng-click="sendForm(bidAmount)"/>
    </form>
    <div ng-show="errorMessage" ng-model="errorMessage"></div>
</div>