 <div class="container-fluid">
     <table class="item_table">
         <tr>
             <td>Product Name: </td>
             <td>{{item.itemName}}</td>
         </tr>
         <tr>
             <td>Product Description: </td>
             <td>{{item.itemDesc}}</td>
         </tr>
         <tr>
             <td>Product Status: </td>
             <td>{{item.itemStatus}}</td>
         </tr>
         <tr>
             <td>Current Bid: </td>
             <td>{{item.currentBid.bidAmount}}</td>
         </tr>
         <tr>
             <td>Current bid user: </td>
             <td>{{item.currentBid.bidder.userName}}</td>
         </tr>
         <tr>
             <td>Deadline: </td>
             <td>{{item.expiring | date:'yyyy-MM-dd HH:mm:ss Z'}}</td>
         </tr>
     </table>
     <form method="post" ng-show="item.canUserBid">
         <input type="number" ng-model="bidAmount" placeholder="Enter Bid Amount:"/>
         <input type="submit" ng-click="sendForm(bidAmount)"/>
     </form>
     <div ng-show="errorMessage.length">{{errorMessage}}</div>
 </div>