<div>
    <div class="container-fluid" style="text-align:center;">
        <h1>Welcome {{controller.user}}</h1>
        <br/>
        <div class="input-group" style="width:250px;text-align:center;margin:auto;">
            <input type="text" class="form-control"/>
            <span class="input-group-addon">
		        <i class="glyphicon glyphicon-search"></i>
		    </span>
        </div>
        <br/>
        <div class="col-md-6" id="my_items">
            <h2 style="text-align:center;">My Items</h2>
            <div class="col-md-6" id="my_sold">
                <h3 style="text-align:center;">Sold</h3>
                <table class="table-striped table_1" align="center">
                    <tr>
                        <th>Product</th>
                        <th>Price</th>
                    </tr>
                    <tr ng-repeat="item in soldItems" ng-href="http://localhost:3333/items/{{item.itemId}}">
                        <td>{{item.itemName}}</td>
                        <td>{{item.currentBid.bidAmount}}</td>
                    </tr>
                    <tr ng-hide="soldItems.length"><td colspan="2"> No items sold yet!</td></tr>
                </table>
            </div>
            <div class="col-md-6" id="my_on_sale">
                <h3 style="text-align:center;">On Sale</h3>
                <table class="table-striped table_1" align="center">
                    <tr>
                        <th>Product</th>
                        <th>Bid</th>
                    </tr>
                    <tr ng-repeat="item in onSaleItems" ng-href="http://localhost:3333/items/{{item.itemId}}>
                        <td>{{item.itemName}}</td>
                        <td>{{item.currentBid.bidAmount}}</td>
                    </tr>
                    <tr ng-hide="onSaleItems.length"><td colspan="2"> No items sold yet!</td></tr>
                </table>
            </div>
        </div>
        <div class="col-md-6" id="my_bids">
            <h2 style="text-align:center;">My Bids</h2>
            <div class="col-md-6" id="active_bids">
                <h3 style="text-align:center;">Active</h3>
                <table class="table-striped table_1" align="center">
                    <tr>
                        <th>Product</th>
                        <th>Price</th>
                        <th>State</th>
                    </tr>
                    <tr ng-repeat="bid in activeBids">
                        <td>{{bid.item.itemName}}</td>
                        <td>{{bid.bidAmount}}</td>
                        <td>{{bid.bidStatus}}</td>
                    </tr>
                    <tr ng-hide="activeBids.length"><td colspan="3"> No items sold yet!</td></tr>
                </table>
            </div>
            <div class="col-md-6" id="closed_bids">
                <h3 style="text-align:center;">Closed</h3>
                <table class="table-striped table_1" align="center">
                    <tr>
                        <th>Product</th>
                        <th>Price</th>
                        <th>State</th>
                    </tr>
                    <tr ng-repeat="bid in closedBids">
                        <td>{{bid.item.itemName}}</td>
                        <td>{{bid.bidAmount}}</td>
                        <td>{{bid.bidStatus}}</td>
                    </tr>
                    <tr ng-hide="closedBids.length"><td colspan="3"> No items sold yet!</td></tr>
                </table>
            </div>
        </div>
        <br/>
        <br/>
        <br/>
        <div class="btn btn-primary">Post Item</div>
    </div>

</div>